{{#if theme.config.blog_category_filter}}
  <section class="blog--themes tile tile-is-flexible is-ancestor">
    <article class="blog--themes-title tile is-child is-flex-full">
      <h2>{{__ 'blog.search_by_categories'}}</h2>
    </article>

    <article class="tile is-child is-flex-full">
      <ul class="blog--themes-list">
        {{#each site.categories.data}}
          <li><a href="javascript:void(0);" data-slug="{{dashcase name}}" title="{{name}}">{{name}}</a></li>
        {{/each}}

        <li class="is-hidden">
          <a href="javascript:void();" id="deactivateCategoryFilter">{{__ 'blog.show_all'}}
          </a>
        </li>
      </ul>
    </article>
  </section>
{{/if}}


{{#if theme.config.highlights}}
  <section class="blog--highlights posts tile-is-flexible tile is-ancestor">
    <article class="blog--highlights-title tile is-flex-full">
      <h2>{{_p 'blog.highlights'}}</h2>
    </article>

    <section class="tile tile-is-flexible is-flex-full">
      {{#each site.posts.data}}
        {{> post 
          index=@index 
          path=path 
          description=description 
          title=title 
          thumbnail=thumbnail 
          thumbnail_alt=thumbnail_alt 
          categories=categories
          hide_extra=true
        }}
      {{/each}}

      {{#eq site.posts.data.length 0}}
        <span>{{__ 'blog.no_posts'}}</span>
      {{/eq}}
    </section>
  </section>
{{/if}}

<section class="blog--posts posts tile-is-flexible tile is-ancestor">
  <article class="blog--highlights-title tile is-flex-full">
    <h2>{{_p 'blog.latest'}}</h2>
  </article>

  <section class="tile tile-is-flexible is-flex-full">
    {{#gt site.posts.data.length 1}}
      {{#each site.posts.data}}
        {{> post 
          index=@index 
          path=path 
          description=description 
          title=title 
          thumbnail=thumbnail 
          thumbnail_alt=thumbnail_alt 
          categories=categories
          hide_extra=false
        }}
      {{/each}}
    {{/gt}}

    {{#eq site.posts.data.length 1}}
      <span>{{__ 'blog.no_posts'}}</span>
    {{/eq}}
  </section>
</section>
