<section class="columns is-centered is-vcentered home-header">
  <article class="column is-two-fifths has-text-right">
    <img src="/logo-horizontal.png" alt="Logo BackEndBrasil"/>
  </article>

  <article class="column is-two-fifths">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    </p>

    <a class="button" href="">
      <i class="fab fa-twitter"></i>
      Twitter
    </a>

    <a class="button" href="">
      <i class="fab fa-slack"></i>
      Slack
    </a>

    <a class="button" href="">
      <i class="fab fa-github"></i>
      Github
    </a>

    <a class="button" href="">
      <i class="fab fa-meetup"></i>
      Meetup
    </a>
  </article>
</section>

<section class="tile is-ancestor home-projects">
  {{#each site.data.repos}}
    <article class="
      tile is-flex-one-fifth is-child has-text-left
      {{gt @index 5 "is-hidden"}}
    " data-repo="{{repo}}">
      <div>
        <span class="is-size-4 has-text-weight-bold">
          <i class="fas {{title.icon}}"></i>
          {{title.label}}
        </span>
      </div>

      <div class="home-projects--p">
        <p>{{description}}</p>
      </div>

      <div>
        <span>
          <span class="icon">
            <i class="fas fa-star"></i>
          </span>
          {{stargazers}}
        </span>

        <span>
          <span class="icon">
            <i class="fas fa-star"></i>
          </span>
          {{issues}}
        </span>
      </div>
    </article>
  {{/each}}

  <div class="container has-text-right">
    <a href="http://www.url.com" class="button">Mostrar Mais</a>
  </div>
</section>

