<section class="columns is-centered is-vcentered home-header">
  <article class="column is-two-fifths has-text-right">
    <img src="/logo-horizontal.png" alt="Logo BackEndBrasil"/>
  </article>

  <article class="column is-two-fifths">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    </p>

    <a class="button" href="">
      <i class="fab fa-twitter"></i>
      Twitter
    </a>

    <a class="button" href="">
      <i class="fab fa-slack"></i>
      Slack
    </a>

    <a class="button" href="">
      <i class="fab fa-github"></i>
      Github
    </a>

    <a class="button" href="">
      <i class="fab fa-meetup"></i>
      Meetup
    </a>
  </article>
</section>

<section class="tile tile-is-flexible is-ancestor home-projects has-default-padding">
  {{#each site.data.repos}}
    <article class="
      tile block is-flex-one-fifth is-child has-text-left
      {{#gt @index 4}}
        is-hidden
      {{/gt}}
    " data-repo="{{repo}}">
      <div>
        <span class="is-size-4 has-text-weight-bold">
          <i class="fas {{title.icon}}"></i>
          {{title.label}}
        </span>
      </div>

      <div class="home-projects--p">
        <p>{{description}}</p>
      </div>

      <div>
        <span>
          <span class="icon">
            <i class="fas fa-star"></i>
          </span>
          {{stargazers}}
        </span>

        <span>
          <span class="icon">
            <i class="fas fa-star"></i>
          </span>
          {{issues}}
        </span>
      </div>
    </article>
  {{/each}}

  <div class="container has-text-right">
    <a href="http://www.url.com" class="button">{{__ 'show.more'}}</a>
  </div>
</section>

<section class="events tile-is-flexible tile is-ancestor has-default-padding">
  <article class="tile is-parent is-12">
    <h2 class="title">{{_p 'events.title'}}</h2>
  </article>

  <section class="tile tile-is-flexible is-parent events">
    {{#each site.data.events}}
      <article class="
        tile block block-transparent is-flex-half is-child has-text-left
        {{#gt @index 1}}
          is-hidden
        {{/gt}}
      ">
        <h4 class="is-size-4 has-text-weight-bold">
          {{title}}
        </h4>

        <ul>
          {{#each flags}}
            <li class="flag">
              <i class="fas fa-{{icon}}"></i>
              {{_p 'events' flag}}
            </li>
          {{/each}}
        </ul>

        <p>
          <i class="fas fa-calendar"></i>
          {{date}}
        </p>

        <p>
          <i class="fas fa-map"></i>
          {{address}}
        </p>

        <p>
          <i class="fas fa-users"></i>
          {{participants.current}} / {{participants.max}}
        </p>

        <a href="http://www.url.com" class="button">{{__ 'events.confirm'}}</a>
      </article>
    {{/each}}
  </section>
</section>

