<section class="home-header tile tile-is-flexible">
  <article class="tile is-child is-flex-full is-flex-two-fifths-mobile home-header--logo">
    <img src="/logo-horizontal.png" alt="Logo BackEndBrasil"/>
  </article>

  <article class="tile is-flex-full is-flex-three-fifths-mobile home-header--intro">
    <h3 class="is-size-3">
      {{__ 'home.header.title'}}
      <strong>{{__ 'home.header.subtitle'}}</strong>
    </h3>
    <p>{{__ 'home.header.description'}}</p>

    {{> buttons}}
  </article>
</section>

<section class="home-projects tile tile-is-flexible is-ancestor">
  {{#each site.data.repos}}
    <article class="
      tile block is-flex-one-quarter-desktop is-flex-half-mobile is-flex-full no-shrink no-grow is-child has-text-left
      {{#gt @index 4}}
        is-hidden
      {{/gt}}
    " data-repo="{{repo}}">
      <div>
        <span class="is-size-4 has-text-weight-bold">
          <i class="fas {{title.icon}}"></i>
          {{title.label}}
        </span>
      </div>

      <div class="home-projects--p">
        <p>{{description}}</p>
      </div>

      <div>
        <span>
          <span class="icon">
            <i class="fas fa-star"></i>
          </span>
          {{stargazers}}
        </span>

        <span>
          <span class="icon">
            <i class="fas fa-star"></i>
          </span>
          {{issues}}
        </span>
      </div>
    </article>
  {{/each}}

  <div class="tile is-flex-full">
    <a href="http://www.url.com" class="button">{{__ 'show.all'}}</a>
  </div>
</section>

<section class="events tile-is-flexible tile is-ancestor">
  <article class="tile is-flex-full">
    <h2 class="title">{{_p 'events.next_events'}}</h2>
  </article>

  {{#each site.data.events}}
    <article class="
      tile block block-transparent is-flex-one-third no-grow is-child
      {{#gt @index 1}}
        is-hidden
      {{/gt}}
    ">
      <h4 class="is-size-4 has-text-weight-bold">
        {{title}}
      </h4>

      <ul>
        {{#each flags}}
          <li class="flag">
            <i class="fas fa-{{icon}}"></i>
            {{_p 'events' flag}}
          </li>
        {{/each}}
      </ul>

      <p>
        <i class="fas fa-calendar"></i>
        {{date}}
      </p>

      <p>
        <i class="fas fa-map"></i>
        {{address}}
      </p>

      <p>
        <i class="fas fa-users"></i>
        {{participants.current}} / {{participants.max}}
      </p>

      <a href="http://www.url.com" class="button">{{__ 'events.confirm'}}</a>
    </article>
  {{/each}}
</section>

<section class="posts tile-is-flexible tile is-ancestor">
  <article class="tile is-parent is-12">
    <h2 class="title">{{_p 'follow_blog'}}</h2>
  </article>

  <section class="tile tile-is-flexible is-parent posts">
    {{#each site.posts.data}}
      <article class="
        tile is-flex-one-third is-child has-text-left
        {{#gt @index 2}}
          is-hidden
        {{/gt}}
      ">
        <div class="posts--thumbnail">
          <img src="{{thumbnail}}" alt=""/>
        </div>

        <ul class="posts--categories">
          {{#each categories.data}}
            <li>{{name}}</li>
          {{/each}}
        </ul>

        <h4 class="posts--title has-text-weight-semibold is-size-5">
          {{title}}
        </h4>

        <p>{{description}}</p>
      </article>
    {{/each}}
  </section>
</section>

<section class="partners tile is-ancestor">
  <section class="tile tile-is-flexible is-parent is-6">
    <article class="tile is-child is-flex-full">
      <h2 class="is-size-2">{{_p 'sponsors'}}</h2>
    </article>

    {{#each site.data.partners_sponsors.sponsors}}
      <article class="tile is-child is-flex-one-quarter">
        <a href="{{url}}" title="{{name}}" target="_blank">
          <img src="{{imgsrc image}}" alt="{{image_description}}"/>
        </a>
      </article>
    {{/each}}
  </section>

  <section class="tile tile-is-flexible is-parent is-6">
    <article class="tile is-child is-flex-full">
      <h2 class="is-size-2">{{_p 'partners'}}</h2>
    </article>

    {{#each site.data.partners_sponsors.partners}}
      <article class="tile is-child is-flex-one-quarter">
        <a href="{{url}}" title="{{name}}" target="_blank">
          <img src="{{imgsrc image}}" alt="{{image_description}}"/>
        </a>
      </article>
    {{/each}}
  </section>
</section>
