<section class="home-header tile tile-is-flexible is-ancestor">
  <article class="tile is-child is-flex-full no-grow no-shrink is-flex-half-mobile home-header--logo">
    <img src="{{imgsrc 'logo.svg'}}" alt="Logo BackEndBrasil"/>
  </article>

  <article class="tile is-flex-full is-flex-half-mobile no-grow no-shrink home-header--intro">
    <h1 class="is-size-3">
      {{__ 'home.header.title'}}
      <strong>{{__ 'home.header.subtitle'}}</strong>
    </h1>
    <p>{{__ 'home.header.description'}}</p>

    {{> buttons}}
  </article>
</section>

<section class="home-projects tile tile-is-flexible is-ancestor">
  {{#each site.data.repos}}
    <article class="
      tile block 
      is-flex-one-quarter-desktop 
      is-flex-half-mobile is-flex-full 
      no-shrink no-grow is-child 
      has-text-left project tile-is-flexible
      {{#gt @index 3}}
        is-hidden
        is-extra-child
      {{/gt}}
    ">
      <a href="https://github.com/{{@root.config.github}}/{{repo}}" title="{{title.label}}" target="_blank" class="project--title">
        {{#if title.isSvg}}
          <i class="project--icon-svg">{{> svg title.icon}}</i>
        {{else}}
          <i class="fas {{title.icon}}"></i>
        {{/if}}

        <span class="is-size-4 has-text-weight-bold">
          {{title.label}}
        </span>
      </a>

      <a class="project--p" title="{{description}}" target="_blank" href="https://github.com/{{@root.config.github}}/{{repo}}">
        <p>{{description}}</p>
      </a>

      <a class="project--star" target="_blank" href="https://github.com/{{@root.config.github}}/{{repo}}" title="{{title.label}}">
        <span>
          <span class="icon">
            {{> svg '#icon_star'}}
          </span>
          {{stargazers}}
        </span>

        <span>
          <span class="icon">
            {{> svg '#icon_megaphone'}}
          </span>
          {{issues}}
        </span>
      </a>
    </article>
  {{/each}}

  <div class="tile is-flex-full">
    <a href="javascript:void(0);" class="button" id="showAllRepositories">{{__ 'show.all'}}</a>
    <a href="javascript:void(0);" class="button is-hidden" id="showLessRepositories">{{__ 'show.less'}}</a>
  </div>
</section>

<section class="events tile-is-flexible tile is-ancestor">
  <article class="tile is-flex-full">
    <h2 class="title">{{_p 'events.next_events'}}</h2>
  </article>

  {{#each site.data.events}}
    <article class="
      tile 
      block 
      block-transparent 
      is-flex-full 
      is-flex-one-third-mobile 
      no-grow 
      no-shrink 
      is-child
      {{#gt @index 1}}
        is-hidden
      {{/gt}}
    ">
      <h4 class="is-size-4">
        {{title}}
      </h4>

      <ul>
        {{#each flags}}
          <li class="chip">
            <i class="fas fa-{{icon}}"></i>
            {{_p 'events' flag}}
          </li>
        {{/each}}
      </ul>

      <p>
        <i class="fas fa-calendar"></i>
        {{date}}
      </p>

      <p>
        <i class="fas fa-map"></i>
        <span>
          {{address}}
        </span>
      </p>

      <p>
        <i class="fas fa-users"></i>
        {{participants.current}} / {{participants.max}}
      </p>

      <div>
        <a href="{{link}}" target="_blank" class="button">{{__ 'events.confirm'}}</a>
      </div>
    </article>
  {{/each}}
</section>

<section class="posts tile-is-flexible tile is-ancestor">
  <article class="tile is-flex-full">
    <h2>{{_p 'home.follow_blog'}}</h2>
  </article>

  <section class="tile tile-is-flexible is-flex-full">
    {{#each site.posts.data}}
      {{> post 
        index=@index 
        path=path 
        description=description 
        title=title 
        thumbnail=thumbnail 
        thumbnail_alt=thumbnail_alt 
        categories=categories
        hide_extra=true
      }}
    {{/each}}

    {{#eq site.posts.data.length 0}}
      <span>{{__ 'blog.no_posts'}}</span>
    {{/eq}}
  </section>
</section>

<section class="partners tile tile-is-flexible is-ancestor">
  <section class="tile tile-is-flexible is-flex-half is-flex-full-mobile">
    <article class="tile is-child is-flex-full">
      <h2>{{_p 'home.sponsors'}}</h2>
    </article>

    {{#each site.data.partners_sponsors.sponsors}}
      <article class="tile is-child is-flex-one-quarter-desktop is-flex-half-mobile is-flex-full no-grow no-shrink">
        <a href="{{url}}" title="{{name}}" target="_blank">
          <img src="{{imgsrc image}}" alt="{{image_description}}"/>
        </a>
      </article>
    {{/each}}
  </section>

  <section class="tile tile-is-flexible is-flex-half is-flex-full-mobile">
    <article class="tile is-child is-flex-full">
      <h2>{{_p 'home.partners'}}</h2>
    </article>

    {{#each site.data.partners_sponsors.partners}}
      <article class="tile is-child is-flex-one-quarter-desktop is-flex-half-mobile is-flex-full no-grow no-shrink">
        <a href="{{url}}" title="{{description}}" target="_blank">
          <img src="{{imgsrc image}}" alt="{{image_description}}"/>
        </a>
      </article>
    {{/each}}
  </section>
</section>
