<section class="about--header tile is-ancestor tile-is-flexible">
  <article class="tile is-child is-flex-two-thirds no-grow no-shrink">
    <h4>{{{__ 'about.header.title'}}}</h4>
    <p>{{__ 'about.header.text'}}</p>
  </article>
</section>

<section class="about-image-group"></section>

<section class="about--believe tile is-ancestor tile-is-flexible">
  <article class="tile is-child is-flex-full no-grow no-shrink">
    <h2 class="title">{{__ 'about.we_believe.title'}}</h2>
  </article>

  <article class="tile is-child is-flex-one-third is-flex-full-mobile no-grow no-shrink">
    <h5 class="is-size-2">{{__ 'about.we_believe.respect.title'}}</h5>
    <p>{{__ 'about.we_believe.respect.text'}}</p>
  </article>

  <article class="tile is-child is-flex-one-third is-flex-full-mobile no-grow no-shrink">
    <h5 class="is-size-2">{{__ 'about.we_believe.inclusion.title'}}</h5>
    <p>{{__ 'about.we_believe.inclusion.text'}}</p>
  </article>

  <article class="tile is-child is-flex-one-third is-flex-full-mobile no-grow no-shrink">
    <h5 class="is-size-2">{{__ 'about.we_believe.partnership.title'}}</h5>
    <p>{{__ 'about.we_believe.partnership.text'}}</p>
  </article>
</section>

<section class="things-us-do">
  <div class="text">
    <p>
      Acima de tudo, é fundamental ressaltar que o início da atividade geral de formação de atitudes talvez venha a ressaltar a relatividade do investimento em reciclagem técnica.
    </p>
  </div>
  <picture>
    <img src="../img/evento.webp">
  </picture>
</section>


<section class="about--team tile is-ancestor tile-is-flexible">
  <article class="tile is-child is-flex-full no-grow no-shrink">
    <h2 class="title">Nosso time</h2>

    <p class="text-paragraph">Nosso time reune uma equipe de backenders, designers e simpatizantes da computação de peso.</p>
  </article>
</section>