<section class="newsletter tile is-ancestor tile-is-flexible">
  <article class="tile is-flex-half-mobile is-flex-full">
    <div>
      <h4 class="is-size-4 has-text-weight-bold">
        {{__ 'newsletter.title'}}
      </h4>

      <p class="is-size-5">{{__ 'newsletter.subtitle'}}</p>
    </div>
  </article>

  <article class="tile is-flex-half-mobile is-flex-full">
    <form action="https://backendbrasil.us19.list-manage.com/subscribe/post?u=95332e1cc29906df595faebdf&amp;id=bdac6264e8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate class="field is-grouped">
      <p class="control no-grow no-shrink is-expanded">
        <input class="input" type="text" placeholder="{{__ 'email_placeholder'}}" name="EMAIL">
      </p>

      {{#if theme.newsletter_category}}
        <p class="control no-grow no-shrink is-expanded">
          <div class="select">
            <select name="category">
              <option value="all">{{__ 'categories.all'}}</option>
              {{#each site.categories.data}}
                <option value="{{name}}">{{name}}</option>
              {{/each}}
            </select>
          </div>
        </p>
      {{/if}}

      <p class="control no-grow no-shrink newsletter--btn">
        <input type="submit" value="{{__ 'sign'}}" class="button has-text-weight-bold is-info">
      </p>
    </form>
  </article>
</section>

 

<footer class="footer tile is-ancestor tile-is-flexible has-default-padding">
  <article class="tile is-flex-half-mobile is-flex-full">
    <img src="{{imgsrc 'Logo-Horizontal.png'}}" width="200"/>
  </article>

  <article class="tile is-flex-half-mobile is-flex-full">
    <nav class="navbar footer-links">
      <div class="navbar-menu">
        <a href="/quem-somos" class="has-text-weight-bold navbar-item">{{__ 'footer.about'}}</a>
        <a href="/vagas" class="has-text-weight-bold navbar-item">{{__ 'footer.jobs'}}</a>
        <a href="/blog" class="has-text-weight-bold navbar-item">{{__ 'footer.blog'}}</a>
      </div>
    </nav>

    {{> buttons}}
  </article>
    
  <article class="tile is-flex-full">
    <p>{{__ 'footer.copyright'}}</p>
  </article>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
<script charset="utf-8" src="/all.min.js"></script>
