<section class="newsletter tile is-ancestor tile-is-flexible">
  <article class="tile is-flex-half is-flex-full-mobile">
    <div>
      <h4 class="is-size-4 has-text-weight-bold">
        {{__ 'newsletter.title'}}
      </h4>

      <p class="is-size-5">{{__ 'newsletter.subtitle'}}</p>
    </div>
  </article>

  <article class="tile is-flex-half is-flex-full-mobile">
    <div class="field is-grouped">
      <p class="control no-grow no-shrink is-expanded">
        <input class="input" type="text" placeholder="{{__ 'email_placeholder'}}">
      </p>

      <p class="control no-grow no-shrink is-expanded">
        <div class="select">
          <select>
            <option value="all">{{__ 'categories.all'}}</option>
            {{#each site.categories.data}}
              <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
      </p>

      <p class="control no-grow no-shrink ">
        <a class="button has-text-weight-bold is-info">
          {{__ 'sign'}}
        </a>
      </p>
    </div>
  </article>
</section>

<footer class="footer tile is-ancestor tile-is-flexible has-default-padding">
  <article class="tile is-flex-half is-flex-full-mobile">
    <img src="/Logo-Horizontal.png" width="200"/>
    <p>{{__ 'footer.copyright'}}</p>
  </article>

  <article class="tile is-flex-half is-flex-full-mobile">
    <nav class="navbar footer-links">
      <div class="navbar-menu">
        <a href="test" class="navbar-item">{{__ 'footer.about'}}</a>
        <a href="test" class="navbar-item">{{__ 'footer.jobs'}}</a>
        <a href="test" class="navbar-item">{{__ 'footer.blog'}}</a>
      </div>
    </nav>

    {{> buttons}}
  </article>
</footer>

<script charset="utf-8" src="/all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
