<nav class="
    navbar be--navbar
    {{#eq page.path "index.html"}}
      be--navbar-home
    {{/eq}}
  " role="navigation" aria-label="main navigation">

  <div class="navbar-brand">
    <a class="navbar-item be--navbar-item--logo" href="/">
      {{> svg '#white-logo'}}
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  {{#if page.id}}
    <div class="
        navbar--breadcrumb
        {{#eq page.path "index.html"}}
          is-hidden
        {{/eq}}
      ">
      <span>
        <strong>{{page.title}}</strong>
        <i>{{getPageDescription page.id}}</i>
      </span>
    </div>
  {{/if}}

  <div class="navbar-menu" id="mainMenu">
    <div class="navbar-end">
      <a href="/quem-somos" class="navbar-item has-text-weight-semibold is-uppercase">{{__ 'menu.about'}}</a>
      <a href="/vagas" class="navbar-item has-text-weight-semibold is-uppercase">{{__ 'menu.jobs'}}</a>
      <a href="/blog" class="navbar-item has-text-weight-semibold is-uppercase">{{__ 'menu.blog'}}</a>
      <a href="http://github.com/{{config.github}}" target="_blank" class="navbar-item has-text-weight-semibold be--navbar-item--join">
        <span class="icon"><i class="fab fa-github fa-lg"></i></span>
        {{__ 'menu.join'}}
      </a>
    </div>
  </div>
</nav>
